<h2>Messages</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
	<%if @mailbox == "sent" %>
		<th>Addressee</th>
	 <% else %>
		<th>Sender</th>
	 <% end %>
  </tr>
  <% for message in @messages %>
  <% if message.target_deleted == 0 && @current_user == message.target%>
  <tr>
      <td><%=h message.title %></td>
      <td>
      <% if message.children.any? %>
        <%= message.children[-1].content %>
      <% else %>
        <%= message.content %>
      <% end %>
      </td>
      <%if @mailbox == "sent" %>
        <td><%=h message.target.name %></td>
        <td><% if message.user_read == 0 %>
          <%= "*" %>
        <% end %></td>
      <% else %>
	<td><%=h message.user.name %></td>
        <td><% if message.target_read == 0 %>
         <%= "*" %>
        <% end %></td>
      <% end %>
      <td><%= link_to "Show", user_message_url(@current_user, message) %></td>
      <td><%= link_to "Delete", message_delete_url(message), :confirm => 'Are you sure?' %></td>
    </tr>
  <% end %>
  <% if message.user_deleted == 0 && @current_user == message.user%>
    <tr>
      <td><%=h message.title %></td>
      <td>
      <% if message.children.any? %>
        <%= message.children[-1].content %>
      <% else %>
        <%= message.content %>
      <% end %>
      </td>
      <%if @mailbox == "sent" %>
        <td><%=h message.target.name %></td>
        <td><% if message.user_read == 0 %>
          <%= "*" %>
        <% end %></td>
      <% else %>
	<td><%=h message.user.name %></td>
        <td><% if message.target_read == 0 %>
         <%= "*" %>
        <% end %></td>
      <% end %>
      <td><%= link_to "Show", user_message_url(@current_user, message) %></td>
      <td><%= link_to "Delete", message_delete_url(message), :confirm => 'Are you sure?' %></td>
    </tr>
  <% end %>
  <% end %>
</table>

<p>
<%= link_to "New Message", new_user_message_path(@current_user) %>
</p>