<h1>Messages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
	<%if @mailbox == "sent" %>
		<th>Addressee</th>
	 <% else %>
		<th>Sender</th>
	 <% end %>
  </tr>
  <% for message in @messages %>
    <tr>
      <td><%=h message.title %></td>
      <td><%=h message.content %></td>
      <%if @mailbox == "sent" %>
        <td><%=h message.target.name %></td>
        <td><% if message.user_read == 0 %>
          <%= "*" %>
        <% end %></td>
      <% else %>
	<td><%=h message.user.name %></td>
        <td><% if message.target_read == 0 %>
         <%= "*" %>
        <% end %></td>
      <% end %>
      <td><%= link_to "Show", user_message_url(@current_user, message) %></td>
      <td><%= link_to "Delete", message, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p>
<%= link_to "New Message", new_user_message_path(@current_user) %>
</p>