<% "New Message" %>

<% form_for :message, :url => user_messages_path(@current_user, :mailbox => "sent") do |f| %>
  <%= f.error_messages %>
  <% unless @in_reply_to %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <% end %>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <% unless @in_reply_to %>
  <p>
  <%= f.select :target_id, User.all.collect{|i| [i.name, i.id]} %>
  </p>
  <% end %>
  <p><%= f.submit "Send" %></p>
<% end %>
