<% "New Message" %>

<% form_for :message, :url => user_messages_path(@current_user, :mailbox => "sent") do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
	<%= f.label :messageable_id, "Recipient's name" %><br />
	<%= f.text_field :messageable_id %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
