<% "Message" %>

<p>
  <strong>Title:</strong>
  <%=h @message.title %>
</p>


<%= @message.content %><br />
<%= "-------------" %><br />
<table>
  <% for child in @message.children %>
  <tr>
    <td> <%= link_to "#{child.user.name}", user_url(child.user) %>:</td>
    <td><%= child.content %></td>
  </tr>
  <% end %>
</table>

<% if @current_user.target?(@message) %>
<p>
  <%= link_to "Reply", new_user_message_path(@current_user, :reply_to => @message.id) %>
</p>
<% end %>
<p>
  <%= link_to "Back to profile", user_url(@current_user) %>
</p>
