<h1>Comments</h1>

<table>
  <tr>
    <th>Content</th>
    <th>User</th>
  </tr>
  <% for comment in @comments %>
    <tr>
      <td><%=h comment.content %></td>
      <td><%=h "#{User.find(comment.user_id).name}" %></td>
      <td><%= link_to "Show", comment %></td>
      <td><%= link_to "Edit", edit_comment_path(comment) %></td>
      <td><%= link_to "Destroy", comment, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<h2>Add Comment:</h2>
<% form_for [@commentable, Comment.new] do |f| %>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
   <%= f.hidden_field :user_id, :value => @current_user.id %>
  <p><%= f.submit "Submit" %></p>
<% end %>
