<h1>Listing users</h1>

<table>
  <tr>
    <th>name</th>
    <th>login</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.name %></td>
    <td><%=h user.login %></td>
    <td><%if user == @current_user %>
	  logged in
	  <% end %>
    </td>
	<td>
	<% if (user != @current_user) and @current_user %>
	<%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
	<% end %>
	</td>
	<% if user == @current_user %>
    <td><%= link_to 'Destroy', profile_destroy_url, :confirm => 'Are you sure?' %></td>
	<% end %>
  </tr>
<% end %>
</table>

<p><% if @current_user %>
Current user: <%= @current_user.name %>
<% end %>
</p>

<%= link_to 'New user', new_user_path %>