
<p>
<%= link_to "Users List", users_path %>
</p>
<h1>
  <%=h @user.name %>'s Page
</h1>

<% if can? :update, @user %>
  <%= link_to 'Edit profile', profile_edit_url %>
<%  end %>

<% if can? :read, Message %>
  <h2>Messages:</h2>
  <%= link_to 'Inbox', user_messages_url(@user, :mailbox => "inbox") %><br />
  <%= link_to 'Sent', user_messages_url(@user, :mailbox => "sent") %>
<%end%>

<h2>Friends:</h2>
<table>
<% for friendship in @user.accepted_friendships %>
<tr>
  <td><%= link_to "#{friendship.friend.name}", user_url(friendship.friend) %></td>
  <td><%= link_to "Remove", decline_friendship_url(@user, :friend_id => friendship.friend.id), :method => :delete %></td>
</tr>
<%end%>
<% for friendship in @user.pending_friendships %>
<tr>
<td><%= link_to "#{friendship.friend.name}", user_url(friendship.friend) %></td>
<td><%= link_to "Accept", user_accept_friendship_url(@user,friendship)%></td>
<td><%= link_to "Decline", decline_friendship_url(@user, :friend_id => friendship.friend.id), :method => :delete %></td>
</tr>
<% end %>
</table>

<h2>Events:</h2>
<% if @user == @current_user %>
	<%= link_to 'Create event', new_user_event_url(@user) %><br />
<% end %>
<table>
<% for event in @user.events_as_author %>
<tr>
<td><%= link_to "#{event.title}", user_event_url(@user, event) %></td>
<% if can? :destroy, event %>
	<td><%= link_to 'Cancel event', event, :method => :delete %></td>
<% end %>
</tr>
<% end %>
<% for event_user in @user.event_users %>
<% if event_user.accepted? || (@user == @current_user) %>
<tr>
  <td><%= link_to "#{event_user.event.title}", user_event_url(@user, event_user.event.id) %></td>
  <% unless event_user.accepted? %>
    <td> * </td>
    <td><%= link_to "Accept", user_accept_invitation_to_event_url(@user, event_user.event.id) %></td>
  <% end %>
  <% if can? :destroy, event_user %>
    <td><%= link_to "Decline", decline_invitation_to_event_url(@user, event_user.event.id, :target_id => event_user.user.id) %></td>
  <% end %>
</tr>
<% end %>
<% end %>
</table>

<h2>Photos:</h2>
<% if @user == @current_user %>
	<%= link_to 'Add photo', new_user_photo_url(@user) %><br />
<% end %>
<table>
<% for photo in @user.photos_as_author %>
<tr>
<td><%= image_tag photo.image.url(:small) %></td>
<td><%= link_to "#{photo.title}", user_photo_url(@user, photo) %></td>
<% if can? :destroy, photo %>
	<td><%= link_to 'Delete photo', photo, :method => :delete %></td>
<% end %>
</tr>
<% end %>
<% for photo_user in @user.photo_users %>
<% if photo_user.accepted? || (@user == @current_user) %>
<tr>
  <td><%= image_tag photo_user.photo.image.url(:small) %></td>
  <td><%= link_to "#{photo_user.photo.title}", user_photo_url(@user, photo_user.photo.id) %></td>
   <% unless photo_user.accepted? %>
    <td> * </td>
    <td><%= link_to "Accept", user_accept_tag_to_photo_url(@user, photo_user.photo.id) %></td>
  <% end %>
  <% if can? :destroy, photo_user %>
    <td><%= link_to "Remove Tag", remove_tag_from_photo_url(@user, photo_user.photo.id, :target_id => photo_user.photo.id) %></td>
  <% end %>
</tr>
<% end %>
<% end %>
</table>

