<h1>"Events"</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>User</th>
  </tr>
  <% for event in @events %>
    <tr>
      <td><%=h event.title %></td>
      <td><%=h event.description %></td>
      <td><%=h event.start_time %></td>
      <td><%=h event.end_time %></td>
      <td><%=h event.user.name %></td>
      <td><%= link_to "Show", user_event_url(@user,event) %></td>
      <td><%= link_to "Edit", edit_user_event_url(@user,event) %></td>
      <td><%= link_to "Destroy", event, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Event", new_user_event_url(@user) %></p>
