<h1><%=h "#{@event.title}:"%></h1>

<p>
  <strong>Title:</strong>
  <%=h @event.title %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @event.description %>
</p>
<p>
  <strong>Start Time:</strong>
  <%=h @event.start_time %>
</p>
<p>
  <strong>End Time:</strong>
  <%=h @event.end_time %>
</p>
<p>
  <strong>Creator:</strong>
  <%=h @event.user.name %>
</p>

<h2>Attendees:</h2>
<p>
<% for attendee in @event.attendees %>
  <%= link_to "#{attendee.name}", user_url(attendee) %>
  <%= link_to 'deny', deny_invitation_to_event_url(@user, @event, :target_id => attendee.id) %> <br />
<% end %>
</p>
<p>
------<br />
<% for target in User.all %>
  <% unless target.author?(@event) %>
    <%= "#{target.name}" %>
    <%= link_to "invite", invite_user_to_event_url(@user, @event, :target_id => target.id) %><br />
  <% end %>
<% end %>
</p>
<p>
  <!--
  <%= link_to "Comments", event_comments_url(@event) %> |
  <%= link_to "Invite" %>
  -->
  <% if can? :update, @event %>
	| <%= link_to "Edit", edit_user_event_path(@user,@event) %> |
  <% end %>
  <% if can? :destroy, @event %>
	<%= link_to "Cancel event", @event, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
</p>

<h2>Comments:</h2>
<%= link_to "Add Comment", new_event_comment_url(@event) %>
<table>
  <tr>
    <th>Content</th>
    <th>User</th>
  </tr>
<% for comment in @event.comments %>
 <tr>
      <td><%=h comment.content %></td>
      <td><%=h "#{User.find(comment.user_id).name}" %></td>
      <% if can? :destroy, comment %>
      <td><%= link_to "Destroy", user_comment_url(comment.user_id, comment), :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
 </tr>
<% end %>
 </table>