<h1><%=h "#{@event.title}:"%></h1>

<p>
  <strong>Title:</strong>
  <%=h @event.title %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @event.description %>
</p>
<p>
  <strong>Start Time:</strong>
  <%=h @event.start_time %>
</p>
<p>
  <strong>End Time:</strong>
  <%=h @event.end_time %>
</p>
<p>
  <strong>Creator:</strong>
  <%=h @event.author.name %>
</p>

<p>
  <%= link_to "Comments", event_comments_url(@event) %>
  <% if @event.author == @current_user %>
	| <%= link_to "Edit", edit_user_event_path(@user,@event) %> |
	<%= link_to "Cancel event", @event, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
</p>

<h2>Comments:</h2>
<% for comment in @event.comments %>

<% end %>