<h1>Photo:</h1>

<p>
  <strong>Title:</strong>
  <%=h @photo.title %>
</p>
<p>
  <%= image_tag @photo.image.url %>
</p>
<p>
  <strong>Creator:</strong>
  <%=h @photo.user.name %>
</p>

<h2>Signed users:</h2>
<p>
<% for photo_user in @photo.photo_users %>
  <% if photo_user.accepted? %>
    <%= link_to "#{photo_user.user.name}", user_url(photo_user.user) %>
    <% if can? :destroy, photo_user %>
      <%= link_to 'Remove Tag', remove_tag_from_photo_url(@user, @photo, :target_id => photo_user.user.id) %>
    <% end %>
   <br />
   <% end %>
<% end %>
</p>
<p>
------<br />
<% for target in User.all %>
  <% unless target.author?(@photo) %>
    <%= "#{target.name}" %>
    <%= link_to "Tag this photo", tag_user_on_photo_url(@user, @photo, :target_id => target.id) %><br />
  <% end %>
<% end %>
</p>
<p>

  <% if can? :update, @photo %>
	| <%= link_to "Edit", edit_user_photo_path(@user,@photo) %> |
  <% end %>
  <% if can? :destroy, @photo %>
	<%= link_to "Delete photo", @photo, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
</p>

<h2>Comments:</h2>
<%= link_to "Add Comment", new_photo_comment_url(@photo) %>
<table>
  <tr>
    <th>Content</th>
    <th>User</th>
  </tr>
<% for comment in @photo.comments %>
 <tr>
      <td><%=h comment.content %></td>
      <td><%=h "#{User.find(comment.user_id).name}" %></td>
      <% if can? :destroy, comment %>
      <td><%= link_to "Destroy", user_comment_url(comment.user_id, comment), :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
 </tr>
<% end %>
 </table>